*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.heading{
    height: 95vh;
    background-image: linear-gradient(to top,rgba(22, 251, 6, 0.6),rgba(14, 217, 231, 0.6),rgba(0, 0, 0, 1)),url(../images/cute.jpeg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0,50% 30%,100% 0,100% 70%,50% 100%,0 70%);
}